.card {
  background-color: #eee;
  margin-bottom: 16px;
  padding: 8px;
  width: 300px;
  border-radius: 8px;
}

.card h3 {
  text-align: center;
}
.card span {
  display: block;
  margin: 8px;
}

.hoc {
  display: flex;
  justify-content: space-between;
}

.list-item,
.list-item tbody {
}

.list-item tr {
  display: flex;
  height: 40px;
  background-color: #eee;
}

.list-item td {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-left: 8px;
}
